{{- $testing := site.Params.testing -}}
{{- $images := site.Params.testingImages -}}

{{- with site.Params.home }}
<article class="first-entry home-info section">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>


{{- /*begin of posts*/ -}}
<article class="section">
    <h2 class="section">
        Popular Images
    </h2>
    <section class="entry-grid" id="popular_images">
    </section>
</article>
{{- /*end of posts*/ -}}

{{- end -}}